profiles {
  docker {docker.enabled=true}
  singularity { singularity.enabled=true
                singularity.autoMounts = true
                docker.enabled=false 
  }
  google {
    includeConfig 'conf/GCP.config'
    includeConfig 'conf/GCP_resources.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
    includeConfig 'conf/slurm_resources.config'
  }
}

params {
  // Standard configs
  input_dir=''
  samplesheet=''
  flowcell=''
  kit=''
  barcode_kit='EXP-NBD104 EXP-NBD114'
  gpu_active=false
  gpus='0'
  cpus='1'
  threads='35'
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
  help = false

  //Other
  kraken_db = "s3://genome-idx/kraken/k2_standard_20201202.tar.gz"
  kraken_tax_level = 'S'

  //Slurm controller
  node_partition='main'
}  

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
