process {
    withName:fastp {
        machineType='n1-standard-8'
        disk='100 GB'
    }

    withName:guppy{
        if (params.gpu_active){
            machineType='n1-standard-16'
            disk='250 GB'
            docker.runOptions= '--gpus all'
            containerOptions='--gpus all'
        } else {
            machineType='n1-standard-16'
            disk='250 GB'
        }
    }

    withName:pycoqc {
        machineType='n1-standard-8'
        disk='100 GB'
    }

    withName:nanoplot {
        machineType='n1-standard-8'
        disk='100 GB'
    }

    withName:Kraken2 {
        machineType='n1-standard-8'
        disk='150 GB'
    }

    withName:Kraken2_db_build {
        machineType='n1-standard-8'
        disk='100 GB'
    }

    withName:Krona {
        machineType='n1-standard-8'
        disk='100 GB'
    }

    withName:filtlong {
        machineType='n1-standard-16'
        disk='150 GB'
    }
}